# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test caches and coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.hypothesis/
htmlcov/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
